### Import Libraries

In [1]:
import pandas as pd
import requests
import io
import geopandas as gpd
import matplotlib.pyplot as plt
import PIL
from PIL import Image

### Access Data from John's Hopskin GitHib

In [14]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
download = requests.get(url).content
data = pd.read_csv(io.StringIO(download.decode('utf-8')))
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/9/21,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,53400,53489,53538,53584,53584,53775,53831,53938,53984,54062
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,63033,63595,63971,64627,65334,65994,66635,67216,67690,67982
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,101913,102144,102369,102641,102860,103127,103381,103611,103833,104092
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,8586,8586,8586,8682,8818,8868,8946,9038,9083,9083
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,18156,18193,18254,18343,18425,18613,18679,18765,18875,18926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1513,1514,1515,1520,1521,1531,1536,1537,1537,1539
268,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,146701,147400,148171,148968,149769,150505,151142,151569,152031,152555
269,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2104,2104,2105,2107,2109,2110,2111,2112,2112,2113
270,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,26567,27728,28596,29757,31100,32800,34278,36074,37605,38207
271,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,20499,21477,22297,23239,24256,25368,26109,26881,27203,27892

### Cleaning up the Data

In [15]:
data = data.groupby('Country/Region').sum()
data = data.drop(columns= ['Lat', 'Long'])
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/9/21,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,53400,53489,53538,53584,53584,53775,53831,53938,53984,54062
Albania,0,0,0,0,0,0,0,0,0,0,...,63033,63595,63971,64627,65334,65994,66635,67216,67690,67982
Algeria,0,0,0,0,0,0,0,0,0,0,...,101913,102144,102369,102641,102860,103127,103381,103611,103833,104092
Andorra,0,0,0,0,0,0,0,0,0,0,...,8586,8586,8586,8682,8818,8868,8946,9038,9083,9083
Angola,0,0,0,0,0,0,0,0,0,0,...,18156,18193,18254,18343,18425,18613,18679,18765,18875,18926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,1513,1514,1515,1520,1521,1531,1536,1537,1537,1539
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,146701,147400,148171,148968,149769,150505,151142,151569,152031,152555
Yemen,0,0,0,0,0,0,0,0,0,0,...,2104,2104,2105,2107,2109,2110,2111,2112,2112,2113
Zambia,0,0,0,0,0,0,0,0,0,0,...,26567,27728,28596,29757,31100,32800,34278,36074,37605,38207
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,20499,21477,22297,23239,24256,25368,26109,26881,27203,27892

### Read World Map Shape Files

In [16]:
world = gpd.read_file(r'./Mapping_Resource\World_Map.shp')
world

,NAME,geometry
0,Antigua and Barbuda,"MULTIPOLYGON (((-61.68667 17.02444, -61.73806 ..."
1,Algeria,"POLYGON ((2.96361 36.80222, 2.98139 36.80694, ..."
2,Azerbaijan,"MULTIPOLYGON (((45.08332 39.76804, 45.26639 39..."
3,Albania,"POLYGON ((19.43621 41.02107, 19.45055 41.06000..."
4,Armenia,"MULTIPOLYGON (((45.57305 40.63249, 45.52888 40..."
...,...,...
240,Saint Barthelemy,"POLYGON ((-63.02834 18.01555, -63.03334 18.015..."
241,Guernsey,"POLYGON ((-2.59083 49.42249, -2.59722 49.42249..."
242,Jersey,"POLYGON ((-2.01500 49.21416, -2.02111 49.17722..."
243,South Georgia South Sandwich Islands,"MULTIPOLYGON (((-27.32584 -59.42722, -27.29806..."
244,Taiwan,"MULTIPOLYGON (((121.57639 22.00139, 121.57027 ..."

### Checking if the country names exist in the Map and Data

In [17]:
def checkIfExists():
    for index, row in data.iterrows():
        if index not in world['NAME'].to_list():
            print(index + ' is not in the list of countries of the shapefile')
        else:
            pass
checkIfExists()

Brunei is not in the list of countries of the shapefile
Cabo Verde is not in the list of countries of the shapefile
Congo (Brazzaville) is not in the list of countries of the shapefile
Congo (Kinshasa) is not in the list of countries of the shapefile
Czechia is not in the list of countries of the shapefile
Diamond Princess is not in the list of countries of the shapefile
Eswatini is not in the list of countries of the shapefile
Holy See is not in the list of countries of the shapefile
Iran is not in the list of countries of the shapefile
Korea, South is not in the list of countries of the shapefile
Kosovo is not in the list of countries of the shapefile
Laos is not in the list of countries of the shapefile
Libya is not in the list of countries of the shapefile
MS Zaandam is not in the list of countries of the shapefile
Moldova is not in the list of countries of the shapefile
North Macedonia is not in the list of countries of the shapefile
South Sudan is not in the list of countries of the shapefile
Syria is not in the list of countries of the shapefile
Taiwan* is not in the list of countries of the shapefile
Tanzania is not in the list of countries of the shapefile
US is not in the list of countries of the shapefile
Vietnam is not in the list of countries of the shapefile
West Bank and Gaza is not in the list of countries of the shapefile

### Fix the error in the World Shapefile

In [18]:
world.replace('Viet Nam', 'Vietnam', inplace = True)
world.replace('Brunei Darussalam', 'Brunei', inplace = True)
world.replace('Cape Verde', 'Cabo Verde', inplace = True)
world.replace('Democratic Republic of the Congo', 'Congo (Kinshasa)', inplace = True)
world.replace('Congo', 'Congo (Brazzaville)', inplace = True)
world.replace('Czech Republic', 'Czechia', inplace = True)
world.replace('Swaziland', 'Eswatini', inplace = True)
world.replace('Iran (Islamic Republic of)', 'Iran', inplace = True)
world.replace('Korea, Republic of', 'Korea, South', inplace = True)
world.replace("Lao People's Democratic Republic", 'Laos', inplace = True)
world.replace('Libyan Arab Jamahiriya', 'Libya', inplace = True)
world.replace('Republic of Moldova', 'Moldova', inplace = True)
world.replace('The former Yugoslav Republic of Macedonia', 'North Macedonia', inplace = True)
world.replace('Syrian Arab Republic', 'Syria', inplace = True)
world.replace('Taiwan', 'Taiwan*', inplace = True)
world.replace('United Republic of Tanzania', 'Tanzania', inplace = True)
world.replace('United States', 'US', inplace = True)
world.replace('Palestine', 'West Bank and Gaza', inplace = True)
world.replace('Holy See (Vatican City)', 'Holy See', inplace = True)

checkIfExists()

Diamond Princess is not in the list of countries of the shapefile
Kosovo is not in the list of countries of the shapefile
MS Zaandam is not in the list of countries of the shapefile
South Sudan is not in the list of countries of the shapefile

### Merging the the world and data file

In [19]:
merged = world.join(data, on='NAME', how='right')
merged

,NAME,geometry,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,1/9/21,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21
30.0,Afghanistan,"POLYGON ((74.91574 37.23733, 74.83221 37.22041...",0,0,0,0,0,0,0,0,...,53400,53489,53538,53584,53584,53775,53831,53938,53984,54062
3.0,Albania,"POLYGON ((19.43621 41.02107, 19.45055 41.06000...",0,0,0,0,0,0,0,0,...,63033,63595,63971,64627,65334,65994,66635,67216,67690,67982
1.0,Algeria,"POLYGON ((2.96361 36.80222, 2.98139 36.80694, ...",0,0,0,0,0,0,0,0,...,101913,102144,102369,102641,102860,103127,103381,103611,103833,104092
132.0,Andorra,"POLYGON ((1.78172 42.56996, 1.77472 42.57111, ...",0,0,0,0,0,0,0,0,...,8586,8586,8586,8682,8818,8868,8946,9038,9083,9083
5.0,Angola,"MULTIPOLYGON (((11.75083 -16.75528, 11.77500 -...",0,0,0,0,0,0,0,0,...,18156,18193,18254,18343,18425,18613,18679,18765,18875,18926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214.0,Vietnam,"MULTIPOLYGON (((106.60027 8.64778, 106.59248 8...",0,2,2,2,2,2,2,2,...,1513,1514,1515,1520,1521,1531,1536,1537,1537,1539
138.0,West Bank and Gaza,"MULTIPOLYGON (((34.33416 31.25972, 34.26758 31...",0,0,0,0,0,0,0,0,...,146701,147400,148171,148968,149769,150505,151142,151569,152031,152555
220.0,Yemen,"MULTIPOLYGON (((53.34083 12.10889, 53.33694 12...",0,0,0,0,0,0,0,0,...,2104,2104,2105,2107,2109,2110,2111,2112,2112,2113
221.0,Zambia,"POLYGON ((24.97000 -17.55972, 24.91250 -17.540...",0,0,0,0,0,0,0,0,...,26567,27728,28596,29757,31100,32800,34278,36074,37605,38207
222.0,Zimbabwe,"POLYGON ((32.98781 -17.26500, 32.99083 -17.300...",0,0,0,0,0,0,0,0,...,20499,21477,22297,23239,24256,25368,26109,26881,27203,27892

### Deleting unused variables

In [20]:
del url
del download
del data
del world

### Creating the plot and saving the images

In [21]:
img_frames = []
for dates in merged.columns.to_list()[2: len(merged.columns.to_list())]:
    ax = merged.plot(column = dates,
                     cmap = 'YlOrRd',
                     figsize = (27,27),
                     legend = True,
                     scheme = 'user_defined',
                     classification_kwds = {'bins': [10, 20, 50, 100, 500, 1000, 5000, 10000, 500000, 1000000]},
                     edgecolor = 'black',
                     linewidth = 0.4)

    ax.set_title('Total Confirmed COVID-19 Cases on ' + dates,
                fontdict = {'fontsize': 20},
                pad = 12.5)

    ax.set_axis_off()

    ax.get_legend().set_bbox_to_anchor((0.18, 0.6))
    
    img = ax.get_figure()    
    f = io.BytesIO()
    img.savefig(f, format = 'png', bbox_inches='tight')
    
    ax.clear()
    plt.close(img)
   
    f.seek(0)
    img_frames.append(PIL.Image.open(f))
    
del merged

### Creating a GIF from the images

In [22]:
img_frames[0].save('Dynamic-COVID-19-Map.gif', 
                   format= 'GIF',
                   append_images = img_frames[1:],
                   save_all = True,
                  duration = 300,
                  loop = 1)
f.close()

del img_frames

### Display the GIF

In [1]:
from IPython.display import HTML
HTML('<img src="Dynamic-COVID-19-Map.gif">')

### The End