### Import Libraries

In [6]:
import pandas as pd
import requests
import io
import geopandas as gpd
import matplotlib as plt
import descartes

### Access Data from John's Hopskin GitHib

In [2]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
download = requests.get(url).content
data = pd.read_csv(io.StringIO(download.decode('utf-8')))
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/8/21,1/9/21,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,53332,53400,53489,53538,53584,53584,53775,53831,53938,53984
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,62378,63033,63595,63971,64627,65334,65994,66635,67216,67690
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,101657,101913,102144,102369,102641,102860,103127,103381,103611,103833
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,8489,8586,8586,8586,8682,8818,8868,8946,9038,9083
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,18066,18156,18193,18254,18343,18425,18613,18679,18765,18875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1512,1513,1514,1515,1520,1521,1531,1536,1537,1537
268,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,146074,146701,147400,148171,148968,149769,150505,151142,151569,152031
269,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2104,2104,2104,2105,2107,2109,2110,2111,2112,2112
270,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,25326,26567,27728,28596,29757,31100,32800,34278,36074,37605
271,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,19660,20499,21477,22297,23239,24256,25368,26109,26881,27203

### Cleaning up the Data

In [3]:
data = data.groupby('Country/Region').sum()
data = data.drop(columns= ['Lat', 'Long'])
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/8/21,1/9/21,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,53332,53400,53489,53538,53584,53584,53775,53831,53938,53984
Albania,0,0,0,0,0,0,0,0,0,0,...,62378,63033,63595,63971,64627,65334,65994,66635,67216,67690
Algeria,0,0,0,0,0,0,0,0,0,0,...,101657,101913,102144,102369,102641,102860,103127,103381,103611,103833
Andorra,0,0,0,0,0,0,0,0,0,0,...,8489,8586,8586,8586,8682,8818,8868,8946,9038,9083
Angola,0,0,0,0,0,0,0,0,0,0,...,18066,18156,18193,18254,18343,18425,18613,18679,18765,18875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,1512,1513,1514,1515,1520,1521,1531,1536,1537,1537
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,146074,146701,147400,148171,148968,149769,150505,151142,151569,152031
Yemen,0,0,0,0,0,0,0,0,0,0,...,2104,2104,2104,2105,2107,2109,2110,2111,2112,2112
Zambia,0,0,0,0,0,0,0,0,0,0,...,25326,26567,27728,28596,29757,31100,32800,34278,36074,37605
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,19660,20499,21477,22297,23239,24256,25368,26109,26881,27203

### Simple Plot of cases

In [ ]:
data_transposed = data.transpose()
###data_transposed.plot()

### Read World Map Shape Files

In [14]:
world = gpd.read_file(r'./Mapping_Resource\World_Map.shp')
##world.plot(figsize=(10,10))

### Checking if the country names exist in the Map and Data

In [19]:
def checkIfExists():
    for index, row in data.iterrows():
        if index not in world['NAME'].to_list():
            print(index + ' is not in the list of countries of the shapefile')
        else:
            pass

Brunei is not in the list of countries of the shapefile
Cabo Verde is not in the list of countries of the shapefile
Congo (Brazzaville) is not in the list of countries of the shapefile
Congo (Kinshasa) is not in the list of countries of the shapefile
Czechia is not in the list of countries of the shapefile
Diamond Princess is not in the list of countries of the shapefile
Eswatini is not in the list of countries of the shapefile
Holy See is not in the list of countries of the shapefile
Iran is not in the list of countries of the shapefile
Korea, South is not in the list of countries of the shapefile
Kosovo is not in the list of countries of the shapefile
Laos is not in the list of countries of the shapefile
Libya is not in the list of countries of the shapefile
MS Zaandam is not in the list of countries of the shapefile
Moldova is not in the list of countries of the shapefile
North Macedonia is not in the list of countries of the shapefile
South Sudan is not in the list of countries of the shapefile
Syria is not in the list of countries of the shapefile
Taiwan* is not in the list of countries of the shapefile
Tanzania is not in the list of countries of the shapefile
US is not in the list of countries of the shapefile
West Bank and Gaza is not in the list of countries of the shapefile

### Fix the error in the World Shapefile

In [ ]:
world.replace('Viet Nam', 'Vietnam', inplace = True)
world.replace('Brunei Darussalam', 'Brunei', inplace = True)
world.replace('Cape Verde', 'Cabo Verde', inplace = True)
world.replace('Democratic Republic of Congo', 'Congo (Kinshasa)', inplace = True)
world.replace('Congo', 'Congo (Kinshasa)', inplace = True)
world.replace('Czech Republic', 'Czechia ', inplace = True)
world.replace('Swaziland', 'Eswatini', inplace = True)
world.replace('Iran (Islamic Republic of)', 'Iran', inplace = True)
world.replace('Korea, Republic of', 'Korea, South', inplace = True)
world.replace("Lao People's Democratic Republic", 'Laos', inplace = True)
world.replace('Libyan Arab Jamahiriya', 'Lybia', inplace = True)
world.replace('Republic of Moldova', 'Moldova', inplace = True)
world.replace('The former Yugoslav Republic of Macedonia', 'North Macedonia', inplace = True)
world.replace('Syrian Arab Republic', 'Syria', inplace = True)
world.replace('Taiwan', 'Taiwan*', inplace = True)
world.replace('United Republic of Tanzania', 'Tanzania', inplace = True)
world.replace('United States', 'US', inplace = True)
world.replace('Palestine', 'West Back and Gaza', inplace = True)